@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* for the dark mode colors */
@theme{
  --color-primary: #000000;
  --color-primary-dark: #d1d5dc;
}

:root {
  --background: #fff9db;     /* light yellow */
  --foreground: #001f3f;     /* dark blue */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a23;   /* dark navy */
    --foreground: #e0e0e0;   /* light gray */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
